<footer class="footer-distributed">

    <div class="footer-left">
  <img src="./../../../../assets/logo.svg">
        <h3>Sobre<span>Campanita</span></h3>

        <p class="footer-links">
            <a routerLink="/home">Inicio</a>
            |
            <a routerLink="/home">Contacto</a>
            |
            <a routerLink="/sobrenosotros">Sobre Nosotros</a>
            |
            <a href="#">Contacto</a>
        </p>

        <p class="footer-company-name">© 2021 Campanita - Todos los derechos reservados</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
              <p><span>Ciudad de Cordoba,
                  Provincia de Cordoba</span>
                Duarte Quiros 4150 (por Noble Canelas)</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>3513230022</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="silvanacampa@hotmail.com">silvanacampa@hotmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>Encontranos en nuestras redes sociales</span>
            </p>
        <div class="footer-icons">
            <img class="img redes" src="./../../../../assets/facebook.svg" alt="facebook">
            <img class="img redes" src="./../../../../assets/instagram.svg" alt="facebook">
      
        </div>
    </div>
</footer>

