<div class="container">

<div class="card-body card-cabecera ">
<img class="img" src="./../../../assets/logo2.svg" alt="logo">
</div>

<div class="separacion">
  <app-combos></app-combos>
  </div>

<div class="separacion">
<app-salon></app-salon>
</div>


<div class="separacion">
<app-sobrenosotros></app-sobrenosotros>
</div>



<div id="contacto" class="d-flex flex-wrap justify-content-center">
 
    <div class="card-body float-left">
      <h5 class="card-title">Donde estamos</h5>
      <p class="card-text">Encontranos en nuestra sucursal, o en redes sociales</p>

      <a href="https://www.facebook.com/CampanitaSalondeFiestas"><img  class="img redes" src="./../../../assets/facebook.svg" alt="facebook"></a>
      <a href="https://www.instagram.com/"><img class="img redes" src="./../../../assets/instagram.svg" alt="instagram"></a>
      <a href="tel:+5403513230022"><img class="img redes" src="./../../../assets/telefono.svg" alt="telefono"></a>
      <a href="silvanacampa@hotmail.com"><img class="img redes" src="./../../../assets/email.svg" alt="telefono"></a>


    </div>
    
    <div class="embed-responsive"> 
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6810.792196448067!2d-64.2381654!3d-31.4032112!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x943298b66d7f94a3%3A0xec3ec3bf711251ca!2sCampanita%20Sal%C3%B3n%20Fiestas%20Infantiles!5e0!3m2!1ses-419!2sar!4v1611631745551!5m2!1ses-419!2sar"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </div>
    </div>



    
</div>