
<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><img src="./../../../assets/logo.svg" alt="Campanita"></a>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    
  <a href="https://www.facebook.com/CampanitaSalondeFiestas"><img  class="img redes" src="./../../../assets/facebook.svg" alt="facebook"></a>
  <a href="https://www.instagram.com"><img class="img redes" src="./../../../assets/instagram.svg" alt="instagram"></a>

 

      <div class="collapse navbar-collapse nav justify-content-center" id="navbarNavAltMarkup">

        <ul class="navbar-nav nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sobrenosotros">SOBRE NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fotos">FOTOS</a>
          </li>


        </ul>
        
      </div>
  </div>
</nav>

</div>