
<div class="carousel">
<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/1.png" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/2.png" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/3.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/4.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>


    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/5.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/6.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/7.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/8.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/9.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="./../../../assets/fotos/slideprincipal/10.png" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3></h3>
        <p></p>
      </div>
    </ng-template>



  </ngb-carousel>
  <button class="btn fotos btn-primary" routerLink="/fotos">MIRA TODAS LAS FOTOS DE NUESTRO SALON</button>

</div>