img {
  max-width: 250px;
  height: auto;
}


  .card {
      max-width: 250px;
      margin-top: 15px;
      text-align: center;
      border: 1px solid rgb(124, 120, 120);
      background-color: white;
      overflow: hidden;
      align-self: flex-start;


  }

  .card-body {
    background-color: white;

  }


  /*slide*/

  .slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    max-width: 250px;

    
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 250px;
}

@keyframes autoplay {
  50% {
      transform: translate3d(calc(-100% * 0), 0, 0);
  }
  100% {
      transform: translate3d(calc(-100% * 1), 0, 0);
  }
}
