<div class="card-columns d-flex flex-wrap justify-content-around">


    <div class="card d-flex">
      <div class="slide">
          <div class="item-slide">
              <img src='./../../../assets/salon1.png'>
          </div>
          <div class="item-slide">
              <img src='./../../../assets/salon2.png'>
          </div>
      </div>

        <div class="card-body">
          <p class="card-text"> LES OFRECEMOS UN ESPACIO DE 300 MTRS. CUBRIERTOS
              PARA un solo cumple por vez</p>
        </div>
    </div>

    <div class="card d-flex">

            <img src='./../../../assets/futbol.png'>

      <div class="card-body">
        <p class="card-text"> CANCHITA DE 
          FUTBOL CON CÉSPED SINTÉTICO</p>
      </div>
    </div>

    <div class="card d-flex">
      <div class="slide">
        <div class="item-slide">
            <img src='./../../../assets/zonablanda2.png'>
        </div>
        <div class="item-slide">
            <img src='./../../../assets/zonablanda.png'>
        </div>
      </div>

      <div class="card-body">
        <p class="card-text"> ¡ZONA BLANDA PARA LOS MAS PEQUEÑOS!</p>
      </div>
    </div>


    <div class="card d-flex">

      <div class="slide">
        <div class="item-slide">
            <img src='./../../../assets/fotocabina.png'>
        </div>
        <div class="item-slide">
            <img src='./../../../assets/fotocabina2.png'>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text">FOTO CABINA</p>
      </div>
    </div>

    <div class="card d-flex">
            <img class="img" src='./../../../assets/disco.png'>
      <div class="card-body">
        <p class="card-text"> 
          CANCIONES, BAILES -CON COREOS-, LUCES, LASER.-TIPO DISCO- KARAOKES!!</p>
      </div>
    </div>



    <div class="card text-center d-flex ">
      <div class="slide">
        <div class="item-slide">
            <img src='./../../../assets/teens2.png'>
        </div>
        <div class="item-slide">
            <img src='./../../../assets/cumpleteens.png'>
        </div>
      </div>



      <div class="card-body d-flex align-items-center">
        <p class="card-text">Tambien cumples TEEN!! 
          adecuados a la edad movidos energicos y entretenidos!!</p>
      </div>
    </div>


    <div class="card d-flex">
            <img class="img" src='./../../../assets/spaparty.png'>
    </div>


    <div class="card text-center d-flex ">
            <img class="img" src='./../../../assets/toro.png'>
      <div class="card-body d-flex align-items-center">
        <p class="card-text">TORO MECANICO</p>
      </div>
    </div>


  </div>