

  <div id="sobrenosotros-card" class="d-flex flex-wrap just justify-content-center">

   
 
    <div class="card d-flex texto">
      <h5 class="card-title">Sobre nosotros</h5>
      <p class="card-text"> 
        
        Los cumpleaños tienen una duración de 2 hs y media...  Planificamos cada cumpleaños acorde a las edades... se realizan  juegos de interacción  y competencia, didacticos con  aros ,pelotas pancartas etc. En todos los combos esta incluida la funcion de titeres dependiendo siempre de la edades... <br>
        ✔️Para los mas grandes hay karaokes y partidos de fútbol  en cancha de césped  dirigidos...<br>
        ✔️También tenemos un  momento de baile Fluor y Just Dance con gorros!<br>
        ✔️Contamos con toro Mecanico y Super Estructural....<br>
        ✔️Para los mas pequeños una super zona blanda con Pelotero...
        Las canciones, la torta, los aplausos, las caritas pintadas, son los ingredientes que llenan los ojitos el alma y el corazón. Les llenan de alegría, de ilusión y fantasía....
        TE ESPERAMOS!!!
      </p>
    </div>
    
    <div class="card d-flex">
     
        <img (click)=modal.open(video360) class="card-img-top" src="./../../../assets/fotos/video.png" alt="Card image cap">
    
      </div>

      
  <ng-template #video360 let-modal>
    <div class="modal-body">
      
      
      <ngb-carousel >
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <video autoplay="autoplay" controls="controls" [muted] ="'muted'" >
              <source src="./../../../assets/videos/video3601.mp4"  type="video/mp4">
            </video> 
          </div>
        </ng-template>
    
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <video autoplay="autoplay" controls="controls" [muted] ="'muted'" >
              <source src="./../../../assets/videos/video3602.mp4"  type="video/mp4">
            </video> 
          </div>
        </ng-template>
    
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <video autoplay="autoplay" controls="controls" [muted] ="'muted'" >
              <source src="./../../../assets/videos/video3603.mp4"  type="video/mp4">
            </video> 
          </div>
        </ng-template>
      </ngb-carousel>
    

  </div>
  </ng-template>
  


    
  </div>
 
