<div class="card-columns d-flex flex-wrap justify-content-around">


    <div class="card d-flex">
      <img class="img" src='./../../../assets/fotos/fotos/1.png'>
    </div>

    <div class="card d-flex">
      <img class="img" src='./../../../assets/fotos/fotos/2.png'>    </div>

    <div class="card d-flex">
      <img class="img" src='./../../../assets/fotos/fotos/3.png'>      </div>

      <div class="card d-flex">
        <img class="img" src='./../../../assets/fotos/fotos/4.png'>  
    </div>

    <div class="card d-flex">
      <img class="img" src='./../../../assets/fotos/fotos/5.png'>
    </div>

    <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/6.png'>    </div>

    <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/7.png'>      </div>

    <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/8.png'>  
    </div>

    <div class="card d-flex">
      <img class="img" src='./../../../assets/fotos/fotos/9.png'>
    </div>

    <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/10.png'>    </div>

    <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/11.png'>      </div>

    <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/12.png'>  
    </div>
        <div class="card d-flex">
    <img class="img" src='./../../../assets/fotos/fotos/13.png'>  
    </div>



  </div>