li {
    text-decoration: none;
    list-style: none;
}


.card {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.accordion {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.card-header{
    background-color: rgb(53, 58, 56, 0.7);
}
button {
    color: white;
    font-weight: 500;
}

.card-body {
    background: white;
}

.card-columns {
    max-width: 100%;
}

.card-text {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border: none;
}

.icon {
    max-width: 90px;
    margin-left: 15px;
    margin-right: 15px;
    border: none;
}

.card-text {
    width: 100%;
}

ng-template {
    border: none;
    max-width: 100%;
}

.picsum-img-wrapper img, .modal-body, ngb-carousel {
    border: none;
}

.texto {
    font-size: 30px;
    background: -webkit-linear-gradient(yellow,red);
    -webkit-background-clip: text;
    background-clip: text ;
    -webkit-text-fill-color: transparent;
      color: tomato;
 }

 .card-combo {
     text-align: left;
 }


 let-modal {
     border: none;
 }