
        <div id="accordion">

          <!-- COLAPSE COMBO BASE-->

            <div class="card ">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    COMBO BASE
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body ">
                        <h1 class="card-title">COMBO BASE</h1>
                        <p class="texto">20 CHICOS y 15 ADULTOS</p>
                        <p class="texto">2HS Y MEDIA DE DURACION</p>


                        <ul class="card-combo">
                            <li>* Animación acorde a la edad</li>
                            <li>* Juegos de interaccion y competencia en equipos con aros, pantalones de colores, rompecabezas y pelotas</li>
                            <li>* Super Disco de baile Just Dance y coreo</li>
                            <li>* Karaoke</li>
                            <li>* Cancha de fútbol con cesped sintético</li>
                            <li>* Títeres</li>
                            <li>* ZONA BLANDA con pelotero - SUPER ESTRUCTURAL</li>
                            <li>* Toro mecánico</li>
                            <li>* Mesas de Pool, mete gol y Ping Pong</li>
                            <li>* Para los papas sector de living con  microondas  frezer dispenser de agua y pava  electrica</li>
                            
                        </ul>
                </div>
              </div>
            </div>

             <!-- COLAPSE COMBO 1-->

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    COMBO 1
                  </button>
                </h5>
              </div>



              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body card-combo">
                  <h1 class="card-title">TODO EL COMBO BASE  +</h1>
                  <ul class="card-combo">
                      <li>* Globo para cada niño</li>
                      <li>* Piñata con caramelos</li>
                      <li>* Tarjetas de invitacion</li>
                      <li>* Maquillaje artistico</li>
                  </ul>                  
                </div>
              </div>
            </div>

<!-- COLAPSE COMBO 2-->

            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    COMBO 2
                  </button>
                </h5>
              </div>

              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body card-combo">
                  <h1 class="card-title">TODO EL COMBO 1  +</h1>
                  <ul class="card-combo">
                      <li>* Comida y bebida libre para NIÑOS</li>
                      <li>* Snacks dulce y salado (chizitos, conitos, tutucas, puflitos, nachos, palitos y pebetes)</li>
                      <li>* Gaseosa linea Pritty y agua saborizada</li>
                      <li>* Sorpresa para cada nño (bolsita con tutuca, alfajor y caramelos mas REGALO a eleccion)</li>
                  </ul>                  

                </div>
              </div>
            </div>

<!-- COLAPSE COMBO OPCION-->

            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  OPCIONALES
                  </button>
                </h5>
              </div>


            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <h1 class="card-title">OPCIONALES</h1>

                <div class="card-columns d-flex flex-wrap justify-content-center">
          
                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/pastel.svg'>
                    <div class="card-body">
                     <p class="card-text" (click)=modal.open(pastel)>Tortas y mesas dulces</p>
                    </div>

                  </div>

                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/magia.svg'>
                    <div class="card-body">
                     <p class="card-text" (click)=modal.open(magia)>Show de magia</p>

                    </div>

                  </div>
                
                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/globo.svg'>
                    <div class="card-body">
                     <p class="card-text" (click)=modal.open(globologia)>Globologia</p>

                    </div>

                  </div>

                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/fotografia.svg'>
                    <div class="card-body">
                     <p class="card-text" (click)=modal.open(fotocabina)>Foto Cabina</p>

                    </div>

                  </div>
                
                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/reloj.svg'>
                    <div class="card-body">
                      <p class="card-text">30 minutos extras</p>
                    </div>
                    
                  </div>
      

                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/papel-picado.svg'>
                    <div class="card-body">
                     <p class="card-text" (click)=modal.open(cotillon)>Cotillón luminoso</p>

                    </div>
                  </div>

                  <div class="card icon d-flex ">
                    <img  src='./../../../assets/servicios/cotton-candy.svg'>
                    <div class="card-body">
                     <p class="card-text" (click)=modal.open(candy)>Candy bar</p>

                    </div>
                  </div>               
           
            </div>
          </div>

        </div>
         
<!--MODALS OPCIONALES-->

        <ng-template #pastel let-modal>
          <div class="modal-body">

              <ngb-carousel >
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/pastel/1.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/pastel/2.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/pastel/3.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/pastel/4.png" alt="">
                    </div>
                  </ng-template>

              </ngb-carousel>
            
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)=modal.close()>Cerrar</button>
        </div>
        </ng-template>

<!-- OTRO MODAL  -->

        <ng-template #magia let-modal>
          <div class="modal-body">

              <ngb-carousel >
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/magia/1.png" alt="">
                    </div>
                  </ng-template>
              </ngb-carousel>
            
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)=modal.close()>Cerrar</button>
        </div>
        </ng-template>

<!-- OTRO MODAL  -->


        <ng-template #globologia let-modal>
          <div class="modal-body">

              <ngb-carousel >
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./.././../../assets/fotos/globologia/1.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./.././../../assets/fotos/globologia/2.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./.././../../assets/fotos/globologia/3.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./.././../../assets/fotos/globologia/4.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./.././../../assets/fotos/globologia/5.png" alt="">
                    </div>
                  </ng-template>

              </ngb-carousel>
            
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)=modal.close()>Cerrar</button>
        </div>
        </ng-template>

<!-- OTRO MODAL  -->

        <ng-template #fotocabina let-modal>
          <div class="modal-body">

              <ngb-carousel >
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/fotocabina/1.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/fotocabina/2.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/fotocabina/3.png" alt="">
                    </div>
                  </ng-template>

              </ngb-carousel>
            
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)=modal.close()>Cerrar</button>
        </div>
        </ng-template>

<!-- OTRO MODAL  -->

        <ng-template #cotillon let-modal>
          <div class="modal-body">

              <ngb-carousel >
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="" alt="">
                    </div>
                  </ng-template>
              </ngb-carousel>
            
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)=modal.close()>Cerrar</button>
        </div>
        </ng-template>

<!-- OTRO MODAL  -->

        <ng-template #candy let-modal>
          <div class="modal-body">

              <ngb-carousel >
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/candy/1.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/candy/2.png" alt="">
                    </div>
                  </ng-template>
                  <ng-template  ngbSlide>
                    <div class="picsum-img-wrapper">
                     <img src="./../../../assets/fotos/candy/3.png" alt="">
                    </div>
                  </ng-template>

              </ngb-carousel>
            
        </div>
        <div class="modal-footer">
        <button class="btn btn-success" type="button" (click)=modal.close()>Cerrar</button>
        </div>
        </ng-template>


    